{% extends "index.html" %}
{% block title %}Lista de productos{% endblock %}

{% block content %}
    
    <h2 class="p-2">Lista de Proveedores</h2>
    
    <a class=" p-2" href="{% url 'proveedores_crear' %}">Agregar nuevo proveedor</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th class="table-primary" scope="col">Proveedor</th>
                <th class="table-primary" scope="col">DNI</th>
                <th id="actions" class="table-primary" scope="col"></th>
            </tr>   
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                
                <tr key={{proveedor.dni}}>
                    <td class="table-light">{{proveedor.nombre}} {{proveedor.apellido}}</td>
                    <td class="table-light">{{proveedor.dni}}</td>
                    <td class="table-light">
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'editar_proveedor' proveedor.dni %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </a>
                            <a href="{% url 'borrar_proveedor' proveedor.dni %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-between">
        <a href="{% url 'productos_listado' %}">Lista de Productos</a>
    </div>
    

{% endblock %}